@model ProjComMedMVC.Presentation.Models.EmpresaConsultaViewModel
@{
    ViewData["Title"] = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Consulta</h5>
<p>Preencha os campos abaixo para pesquisar empresas.</p>
<hr />
<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm())
        {
            <label>Razão Social:</label>
            @Html.TextBoxFor(model => model.RazaoSocial,
           new
           {
               @class = "form-control",
               @placeholder = "Ex: Empresa Modelo S/A"
           })
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.RazaoSocial)
            </div>
            <br />

            <input type="submit" value="Pesquisar Empresas"
                   class="btn btn-success" />
         }

    </div>
</div>

@if(Model !=null && Model.Empresas !=null && Model.Empresas.Count > 0)
{
    <table id="tabela" class="table table-bordered table-striped
                              table-hover table-light mt-4">

    <thead>
        <tr>
            <th>Razão Social</th>
            <th>CNPJ</th>
            <th width="180">Operações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Empresas)
        {
            <tr>
                <td>@item.RazaoSocial</td>
                <td>@item.Cnpj</td>
                <td>
                    <a href="/Empresa/Edicao" class="btn btn-primary btn-sm">
                        Atualizar
                    </a>
                    <a href="/Empresa/Exclusao"
                       class="btn btn-danger btn-sm">
                        Excluir
                    </a>
                </td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                Quantidade de registros(s): @Model.Empresas.Count
        </tr>
    </tfoot>
</table>
}